extends layout

block dynamicContent
  if isAuthentificated
    p
      a(href="/projects/add") Ajouter

  ul
    for project in projectsList
      li
        a(href="/projects/" + project.id) #{project.id} - #{project.name}

