extends layout

block dynamicContent
  h2 Login

  if info
    p=info

  form(method="post" action="/login/send")
    p
      label Login
      input(type="text" name="username")
    p
      label Mot de passe
      input(type="password" name="password")
    p
      input(type="submit" value="Envoyer")
