extends layout

block dynamicContent
  h2 Contact
  if status
    p
      strong Message envoyé
  form(method='post', action='/contact/send')
    p
      label Votre nom
      input(type='text', name='nom')
    p
      label Votre message
      textarea(name='message', rows='5', cols='30')
    p
      input(type='submit', value='Envoyer')
